@charset "UTF-8";
/* CSS Document */
/*Background*/
body, html {
	height: 100%;
	font-family: Montserrat;
}

.bg {
	/* The image used */
	/*background-image: url("../images/ds_background.jpeg");*/
	background-image: url("../images/AdobeStock_317103153.jpeg");

	/* Full height */
	height: 100%;

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.dropdown-item:hover {
	background-color: #CB444A;
}

.display-1 {
	font-size: 108px;
	/*text-shadow: 1px 1px #F7C144;*/
	font-weight: bold;
}

.back {
	background-color: #070707;
}

