@charset "UTF-8";
/* CSS Document */
/*Background*/
body, html {
	height: 100%;
	font-family: Montserrat;
}

.bg {
	/* The image used */
	/*background-image: url("../images/ds_background.jpeg");*/
	background-image: url("../images/AdobeStock_317103153.jpeg");

	/* Full height */
	height: 100%;

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.dropdown-item:hover {
	background-color: rgba(203,68,74,1);
}

.display-1 {
	font-size: 96px;
	/*text-shadow: 1px 1px #F7C144;*/
	font-weight: bold;
}

.back {
	background-color: rgba(7,7,7,1);
}

.back-nav {
	background-color: rgba(7,7,7,0.9);
}

